@page "/"
@inject NavigationManager NavigationManager


<h1>Welkom op het Blazor project van Dries Ennekens</h1>

<h3>Hier vind je een vertaling van Javascript-oefeningen naar C#</h3>


	<button type="button" class="btn btn-primary d-block" @onclick="NavigateToMovies">Movies</button>
<button type="button" class="btn btn-primary d-block" @onclick="NavigateToFoto"> Foto</button>
<button type="button" class="btn btn-primary d-block" @onclick="NavigateToFunFacts">Funfacts</button>
<button type="button" class="btn btn-primary d-block" @onclick="NavigateToDobbelen">Dobbelen</button>

@code {
    private void NavigateToMovies()
    {
        // Use the NavigationManager to navigate to a different page
        NavigationManager.NavigateTo("/movies");
    }
    private void NavigateToFoto()
    {
        // Use the NavigationManager to navigate to a different page
        NavigationManager.NavigateTo("/foto");
    }
    private void NavigateToFunFacts()
    {
        // Use the NavigationManager to navigate to a different page
        NavigationManager.NavigateTo("/geboortedatum");
    }
    private void NavigateToDobbelen()
    {
        // Use the NavigationManager to navigate to a different page
        NavigationManager.NavigateTo("/dobbelen");
    }
}





